html, body, input {
  font-family: 'Space Mono';
  font-size: 18px;
}

.app-container {
  margin: 0 auto;
  max-width: 40rem;
}

.thoughtinput {
  display: flex;
  align-items: center;
}

input {
  font-size: 1.5rem;
  width: 100%;
  line-height: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 3px;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid gray;
}

button {
  height: 2.5rem;
  background: #ededed;
  font-family: 'Space Mono';
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0 1rem;
}

.thought {
  border-bottom: 1px solid #ededed;
  padding: 1rem 0;
}

.thought .timestamp {
  font-size: 0.7rem;
  opacity: 0.3;
}

.thought .text {
  font-family: 'Space Mono';
  font-size: 1.2rem;
}

.thought .actions {
  text-align: right;
  cursor: pointer;
}
